# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
sword_art_online_ui_window_by_darkblackswords_d7scbp2.zip
sword_art_online_vector_icons_by_darkblackswords_d76jebp.zip
.gitignore
lifeasgame-backend-develop (1).zip
KakaoTalk_20260226_174224358.jpg
SAO_UI_v1.100_\[sample]-2_Kirito.png
lifeasgame-backend-extracted/
public/icons/
KakaoTalk_20260226_174224358.png
